<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">
</head>
<body>
<h1>List of Common Holidays</h1>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col" th:text="${firstCountry}">First</th>
    <th scope="col" th:text="${secondCountry}">Second</th>
  </tr>
  </thead>
  <tbody>
      <tr th:each="holiday: ${holidays}">
        <td th:text="${holiday.key}"></td>
        <td th:text="${holiday.value[0].localName}"></td>
        <td th:text="${holiday.value[1].localName}"></td>
      </tr>
  </tbody>
</table>

</body>
</html>